.wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app{
    width: 100%;
    max-width: 568px;
    display: flex;
    flex-direction: column;

    align-items: center;

}

.form{
    max-width: 305px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form_email{
    margin-top: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #E1E1E1;
    margin-bottom: 8px;
    align-self: flex-start;
}

.form_password{
    margin-top: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #E1E1E1;
    margin-bottom: 8px;
}

.input{
    max-width: 350px;
    width: 100%;
    background: none;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    height: 45px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    padding: 5px;


    color: #E1E1E1;
}

.btn{
    background: #F33F3F;
    border-radius: 6px;
    padding: 10px ;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;


    color: #141414;

    margin-top: 50px;

    width: 100%;
    max-width: 247px;
    align-self: center;

    cursor: pointer;

    text-align: center;

    transition: all 0.3s;
}

.btn:hover{
    transform: translateY(-5px);
    color: white;
}

.change {
    margin-top: 15px;
    display: flex;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    gap: 5px;

    text-align: center;
    align-self: center;
    color: #ffffff;
}

.change .change_div{
    color: #F33F3F;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.change .change_div::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background: #F33F3F;
    bottom: -2px;
    left: 0;
    transition: all 0.3s;
}

.change .change_div:hover::before{
    width: 100%;
}

.auto_img{
    width: 100px;
    align-self: center;
    border-radius: 50%;
}

.add_avatar{
    display: flex;
    gap: 15px;
    margin-top: 8px;

    align-self: center;
}




.custom_file{
    cursor: pointer;

    position: relative;
    max-width: 140px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #E1E1E1;

    transition: all 0.3s;
}
.custom_file:hover{
    color: #A41B1B;
}

/*.custom_file::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    background: green;
    width: 100%;
    height: 2px;
}*/

.add_avatar_text{
    left: 0;
    z-index: -1;
    max-width: 120px;
    position: absolute;
    cursor: pointer;

}


